output/*
ppo.iws
*.swp
src/main/web/app/components/auth/clientId.js
.idea/*
*.iml
*.props
*.properties
!src/main/environment/*/log4j.properties
!src/main/resources/settings-manager.properties
!src/main/resources/locale/*
!gradle/wrapper/gradle-wrapper.properties
dist/*
build/*
classes/*
javadocs/*
tripleOutput/*
.gradle
jetty-env.xml
ppo-fims.ipr
ppo-fims.iws
out/
src/main/web/WEB-INF/web.xml
**/app.constants.js
.python-version
