.navbar {
  border: none;
  font-size: 20px;
  font-weight: 400;
  padding-left: ($navbar-padding-horizontal * 2);
  padding-right: ($navbar-padding-horizontal * 2);
}

.navbar-brand {
  padding-top: ($navbar-padding-vertical / 2.5);
  font-size: ($font-size-base * 2.75);
  font-weight: 400;
}

.navbar-nav {
  @media (min-width: $grid-float-breakpoint) {
    > li {
      > a {
        padding-top:    ($navbar-padding-vertical * 1.5);
        padding-bottom: ($navbar-padding-vertical / 2);
      }
    }
  }
}

.navbar-default {
  .navbar-brand {
    &:hover,
    &:focus {
      color: $navbar-default-brand-color;
      background-color: $navbar-default-bg;
    }
  }
}
