<div id="validation" class="section">
    <div id="warning"></div>
    <div class="sectioncontent" id="mainpage">

        <h3>About</h3>

        Field Data on plant phenology is made accessible here based on inputs from NPN and PEP725 partners. Incoming
        trait data is annotated using the biocode field information management system and the plant phenology ontology,
        with inferred relationships between traits and phenological stages.  Our map-based query enables visualization
        by taxonomy, time, geographic space, and phenological stage.
    </div>
</div>
