// import any components here
@import "components/header";
@import "components/login";
@import "components/resetPass";
@import "components/bootstrap/accordion";
@import "components/bootstrap/forms";
@import "components/bootstrap/alerts";

/**
 * Document-wide styles.
 **/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.alert-link {
  cursor: pointer;
}

a {
  &.disabled {
    @extend .btn.disabled;
    @extend a.btn.disabled;
  }
}

// == fullPage

.full-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid white;
  display: flex;
  flex-direction: column;

  .navbar {
    margin-bottom: $line-height-computed/2;

    img {
      height: 100px;
    }
  }
}

.full-page-content {
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin-top: 0;
  overflow: hidden;
}

// === query.html

.query-page {
  flex: 1;
  display: flex;
}

.query-bar {
  background-color: hsla(117, 60%, 19%, 0.72);

  .actions {
    padding: 10px 15px;
  }
}

.alerts {
  .alert {
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: center;
    border-radius: 0;
  }

  .alert:not(:first-child) {
    border-top: none;
  }

  .alert-dismissable {
    padding-right: 35px;
  }

  .alert-info {
    border-color: #DBBE62;
    background-color: rgba(243, 212, 106, 0.9);

    .close {
      color: #5d4d06;
    }

    > a {
      color: #03A9F4;
    }
  }

  .alert-error {
    border-color: #9C2B1F;
    background-color: rgba(207, 58, 36, .9);
    color: white;

    .close {
      color: #471411;
    }
  }
}

.sidebar {
  min-width: 520px;
  flex: 1 1;
  padding-top: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.sidebar a label {
  cursor: pointer;
}

.sidebar a > .control-label {
  width: 100%;
}

.expedition-filter .dropdown-menu {
  width: 100%;
}

.sidebar .checkbox-inline {
  margin-right: 10px;
}

.sidebar .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0;
}

.sidebar .form-group {
  margin-bottom: 10px;
}

.sidebar-toggle {
  position: relative;
}

.sidebar-toggle > button {
  position: absolute;
  top: 50%;
  height: 40px;
  margin-top: -20px;
  margin-left: -1px;
  width: 40px;
  border-left: 1px solid #fff;
  border-radius: 0 6px 6px 0;
  z-index: 1001;
}

.sidebar-toggle > button:focus,
.sidebar-toggle > button:active,
.sidebar-toggle > button:hover {
  background-color: #fff;
  border-color: #ccc;
  border-left: 1px solid #fff;
}

.sidebar-toggle > button:focus {
  outline: none;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.query-content {
  flex: 2 1;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.angular-leaflet-map {
  display: flex;
  flex: 1 1;
}

.leaflet-touch .leaflet-bar.btn-group {
  border-width: 1px;
}

.leaflet-touch .leaflet-bar.btn-group .btn {
  font-weight: 500;
}

.leaflet-touch .leaflet-bar.btn-group .btn.disabled {
  opacitly: .85;
}

.query-bar .btn {
  font-weight: 700;
}

.query-view-toggle > .btn.disabled {
  background-color: #03A9F4;
  color: #fdfdfd;
  border-color: #0394dc;
  opacity: 1;
}

.download-btn {
  margin-right: 15px;
}

.download-btn > .btn {
  background-image: none;
  background-color: #03A9F4;
  color: #fdfdfd;
  border-color: darken(#03A9F4, 10%);
}

.download-btn > .btn:active,
.download-btn > .btn:focus,
.download-btn > .btn:visited,
.download-btn > .btn:hover {
  background-color: darken(#03A9F4, 10%);
}

.download-btn > .dropdown-menu {
  min-width: 120px;
  text-align: center;
}

.query-view-toggle > .btn:focus,
.query-view-toggle > .btn:active {
  outline: none;
}

.checkbox-inline input {
  cursor: pointer;
}

.filters .row {
  margin-top: 5px;
}

.filters .btn-primary.active {
  background-color: #203145;
}

#marker-query .control-label {
  margin-top: 7px;
}

.filter-query-select {
  padding-left: 0;
  padding-right: 0;
  margin-left: -5px;
  margin-right: -5px;
}

.filters {
  padding-left: 15px;
}

.sidebar .typeahead .dropdown {
  margin-left: 15px;
}

.filter-remove-btn {
  margin-top: 4px;
  margin-left: -9px;
  margin-right: -9px;
}

.column-filters-header {
  margin-bottom: 10px;
}

.column-filter {
  margin-bottom: 5px;
}

.query-table {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.query-table table tbody tr {
  cursor: pointer;
}

.full-page-query-table {
  margin-left: 40px;
  margin-right: 40px;
}

.ui-select-match-text {
  font-size: 12px;

}

.ui-select-choices-group-label {
  font-size: 13px;
  color: #555;
  font-weight: 600;
}

.ui-select-bootstrap > .ui-select-choices {
  background-color: #fff;
  font-size: 12px;
  min-width: 200px;
}

.ui-select-search {
  font-size: 12px;
}