<div class="col-xs-12" ng-controller="QueryFormController as queryFormVm">
    <form method="POST" name="queryForm">
        <div class="form form-horizontal">

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="control-label">Phenological Traits</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <ui-select multiple ng-model="queryFormVm.params.traits">
                        <ui-select-match placeholder="Select traits...">{{$item.key}}</ui-select-match>
                        <ui-select-choices
                                repeat="trait.value as (key, trait) in queryFormVm.traits | filter: {'key': $select.search} | orderBy: 'key'"
                                position="down">
                            <div ng-bind-html="trait.key | highlight: $select.search | trusted_html"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Year</label>
                </div>
                <div class="col-xs-2">
                    <input ng-model="queryFormVm.params.fromYear" type="text"
                           class="form-control input-sm"/>
                </div>
                <span class="pull-left">to</span>
                <div class="col-xs-2">
                    <input ng-model="queryFormVm.params.toYear" type="text"
                           class="form-control input-sm"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Day of Year</label>
                </div>
                <div class="col-xs-2">
                    <input ng-model="queryFormVm.params.fromDay" type="text"
                           class="form-control input-sm"/>
                </div>
                <span class="pull-left">to</span>
                <div class="col-xs-2">
                    <input ng-model="queryFormVm.params.toDay" type="text"
                           class="form-control input-sm"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Genus</label>
                </div>
                <div class="col-xs-9">
                    <input ng-model="queryFormVm.params.genus" type="text"
                           class="form-control input-sm"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">SpecificEpithet</label>
                </div>
                <div class="col-xs-9">
                    <input ng-model="queryFormVm.params.specificEpithet" type="text"
                           class="form-control input-sm"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">Source</label>
                </div>
                <div class="col-xs-5">
                    <input ng-model="queryFormVm.params.source" type="text"
                           class="form-control input-sm"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" ng-click="queryFormVm.queryJson()" class="btn pull-right btn-primary"><span
                    class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </form>
</div>